<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/common.css" />
  </head>
  <body>
    <header class="blog-header">
      <nav>
        <a href="/index.html" class="btn-home">HOME</a>
        <a href="/article/" class="btn-back">ARTICLES</a>
      </nav>
    </header>

    <main class="blog-post-content">
      <h1>{{ page.title }}</h1>
      <p class="post-date"><em>{{ page.date | date: "%B %d, %Y" }}</em></p>
      <article>
        {{ content }}
      </article>
    </main>
  </body>
</html>
